<div class="container">
  <h1>Home</h1>

  <% if user_signed_in? %>
    <p>I'm in!!</p>
    <p>User email: <%= current_user.email %></p>
  <% else %>
    <p>I'm not logged in yet!</p>
  <% end %>
    
</div>